<%- editing = !user.id.nil? %>
<%= form_with(scope: :user, url: "/users/#{user.id}", method: (editing ? :put : :post), class: 'resource-form') do |form| %>
  <%- if user.errors %>
    <div class='error-field'>
      <%= user.errors.full_messages.join("<br />").html_safe %>
    </div>
  <% end %>

  <!-- Uncomment if we want SuperAdmin to manage other User Types -->
  <!--   <div class="form-group">
    <%= form.label :type %>
    <%= form.select :type, User::TYPES, {}, { class: 'form-control' } %>
  </div> -->

  <div class="form-group">
    <%= form.label :email %>
    <%= form.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :password %>
    <%= "<i>(leave blank if you don't want to change it)</i>".html_safe if editing %>
    <%= form.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :company_id %>
    <%= form.select :company_id, Company.all.collect{|p| [ p.name, p.id ] }, {}, { class: 'form-control' } %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: 'btn btn-primary resource-submit' %>
  </div>
<% end %>
