<%= form_with(model: company, local: true, class: 'resource-form') do |form| %>
  <%- if company.errors %>
    <div class='error-field'>
      <%= company.errors.full_messages.join("<br />").html_safe %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: 'btn btn-primary resource-submit' %>
  </div>
<% end %>
